In [ ]:
Q1. What is database? Different between SQL and NoSQL databses.

In [ ]:
Ans. Data base is collection of organized data. SQL is structured query language
and No SQL is not only a structured query langauge

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
Ans. DDL is subset od SQl and a part of DBMS the full form of DDL is data defination 
langauge. CREATE, DROP, ALTER, and TRUNCATE are used to create and modify the tables 
in SQL.

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
Ans. The full form DML is data manipulation langauge and DML is also a subset of 
SQl. INSERT adds table row values. UPDATE is used to update the values of a column in 
a table DELETE is used to delete a particular row in table.

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

In [ ]:
Ans. The full form of DQL is data query langauge it is computer langauge that are used 
to make various queries in databases. with thr help of select the result are shown 
only which that are taken un select * from.

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
Ans. A primary key is used to ensure data in the specific column is unique.
A foreign key is a column or group of columns in a relational database
table that provides a link between data in two tables.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
Ans. 

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

cursor() is created by the connection
execute() is the cintext of the database

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
Ans. The SQL order of execution defines the order
in which the clauses ofa query are evaluated.
Understanding query order can help you optimize your queries.